doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="description" content="")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")

    link(rel="stylesheet" href="assets/libraries/bootstrap/dist/bootstrap.min.css")
    link(rel="stylesheet" href="assets/libraries/sweetalert/dist/sweetalert.css")
    link(rel="stylesheet" href="assets/min/main.min.css")
  body
    select
        option(value="euw")|EUW
    input(type="text" name="summonername" id="summonername")
    input(type="button" value="search")

    div(data-bind="text: summonerName")
    div(data-bind="text: summonerLevel")
    
    script(src="assets/libraries/jquery/dist/jquery.min.js")
    script(src="assets/libraries/bootstrap/dist/bootstrap.min.js")
    script(src="assets/libraries/knockout/dist/knockout.js")  
    script(src="assets/libraries/sweetalert/dist/sweetalert.min.js") 
    script(src="assets/min/main.min.js")